<!DOCTYPE html>
<html>
<head>
  <title>DemoBlogST</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<section class="hero is-info is-large">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to 'My Blog', root_path, class: "navbar-item" %>
          <a class="navbar-item"></a>
          <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <%= link_to "Create New Post", new_post_path, class:"navbar-item" %>
            <a class="navbar-item is-active">
              Posts
            </a>
            <a class="navbar-item">
              Comments
            </a>
            <a class="navbar-item">
              Members
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Posts</a>
          </li>
          <li>
            <a>Comments</a>
          </li>
          <li>
            <a>Members</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<%= yield %>
</body>
</html>